%h2= "Edit #{resource_name.to_s.humanize}"

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .row
    .small-12.columns= f.label :email
    .small-12.columns
      = f.email_field :email, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %em= "Currently waiting confirmation for: #{resource.unconfirmed_email}"

  .row
    .small-12.columns= f.label :username
    .small-12.columns= f.text_field :username

  .row
    .small-12.columns
      = f.label :password, class: 'left'
      %small.right (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "off"

  .row
    .small-12.columns
      = f.label :password_confirmation, class: 'left'
      %small.right (leave blank if you don't want to change it)
      = f.password_field :password_confirmation, autocomplete: "off"

  .row
    .small-12.columns
      = f.label :current_password, class: 'left'
      %small.right (we need your current password to confirm your changes)
    .small-12.columns= f.password_field :current_password, autocomplete: "off"

  .row.actions
    .medium-4.small-12.columns
      = f.submit "Update", class: "button"
    .medium-8.small-12.columns
      = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button secondary"
