%h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .row
    .small-12.columns= f.label :email
    .small-12.columns= f.email_field :email, autofocus: true

  .row
    .small-12.columns
      = f.label :password
      - if @validatable
        %em= "(#{@minimum_password_length characters minimum})"
    .small-12.columns= f.password_field :password, autocomplete: "off"

  .row
    .small-12.columns= f.label :password_confirmation
    .small-12.columns= f.password_field :password_confirmation, autocomplete: "off"

  .row
    .small-12.columns= f.submit "Sign up", class: "button"

= render "devise/shared/links"
