= form_for @comment, html: { class: 'comment' } do |f|
  = f.hidden_field :commentable_type
  = f.hidden_field :commentable_id
  = f.hidden_field :parent_id
  %fieldset
    %legend Add a comment
    = f.text_area :body, rows: 12
    = f.submit "Add Comment", class: 'button small left'
    .cancel.left.hide= button_tag "Nevermind.", type: 'button', class: 'button small secondary'
