.panel
  = render 'post', post: @post
  = render 'actions', post: @post
%hr
.panel
  %h5= comment_link_text(@post.comment_threads.count)
  #comments
    - @post.comment_threads.each do |comment|
      .panel= comment.body

= render 'comments/form'
