.panel
  = render 'post', post: @post
  = render 'actions', post: @post
%hr
%h5= comment_link_text(@post.comment_threads.count)
#comments
  = nested_posts @post.comment_threads, id: 'comments' do |comment|   
    .panel{ id: "reply-#{comment.id}"}
      = comment.body
      = link_to 'Reply to this comment',
                new_comment_path(parent_id: comment.id, format: 'js'),
                remote: true,
                class: 'button tiny secondary'
      %div.reply-form.hide{ id: "reply-form-#{comment.id}" }

= render 'comments/form'
