!!!

%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body

    %header.fixed
      %nav.top-bar{ data: { topbar: true }, role: "navigation" }
        %ul.title-area
          %li.name
            %h1= link_to "Elevennit", posts_url

        -# %section.top-bar-section
          -# -# Right Nav Section
          -# %ul.right
          -#   %li.active
          -#     %a{ href: "#" } Right Button Active
          -#
          -# -# Left Nav Section
          -# %ul.left
          -#   %li
          -#     %a{ href: "#" } Left Nav Button

    %section.row
      .columns.small-12.medium-8
        - flash.each do |name, msg|
          .alert-box{ class: "#{flash_class name}", data: { alert: true } }
            - if msg.is_a? Array
              = msg.join("<br>").html_safe
            - else
              = msg.html_safe
            = link_to '&times;'.html_safe, '#', class: 'close'
        = yield
      .columns.medium-4.hide-for-small
        .panel
          .text-center= link_to 'new post', new_post_path(post_type: :text), class: 'button alert medium'
          .text-center= link_to 'share a link', new_post_path(post_type: :link), class: 'button secondary small'
    %footer.fixed
      %nav.top-bar{ data: { topbar: true }, role: 'navigation' }
        %p= "&copy; #{Time.now.year} Random Tutorials Productions".html_safe


    = javascript_include_tag "application"
